@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

:root {
    --font_padrao: 'Roboto', sans-serif;
    --cor00: #dadada;
    --cor01: #ffffff;
    --cor02: #000000;
    --cor03: #ed1d24;
    --cor04: #047a3a;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--font_padrao);
    background: var(--cor00);
}

header {
    display: flex;
    height: 100px;
    background: #ed1d24;
}

header > img {
    width: 200px;
    text-align: center;
    margin: 9px auto;
}

main {
    background: var(--cor00);
    min-height: 100vh;
}

main .conteudo {
    background: var(--cor01);
    margin: 30px auto 0px;
    padding: 50px;
    width: 60%;
}

main h1 {
    text-align: center;
    color: var(--cor04);
    font-size: 2em;
}

main p {
    text-align: justify;
    margin-top: 15px;
}

main p > b {
    color: #047a3a;
}

main .conteudo > img {
    display: flex;
    margin: 30px auto;
    width: 200px;
}

main .conteudo .herois {
    width: 100%;
}

main a {
    text-decoration: none;
    color: #047a3a;
}

footer {
    background: black;
    text-align: center;
    padding-right: 110px;
    padding-left: 110px;
}

footer > img {
    width: 200px;
    margin-top: 50px;
}

footer > P {
    color: white;
    margin-top: 40px;
}

footer ul {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    list-style: none;
}

footer li {
    padding: 20px;
}

footer li > i {
    font-size: 26px;
    color: #555454;
}

footer li > i:hover {
    color: white;
}

footer .termos > a {
    color: #555454;
    text-decoration: none;
    font-size: small;
    margin-top: 10px;
    text-align: center;
}

footer .termos > a:hover {
    color: white;
}

footer .termos_2 > a {
    color: #555454;
    text-decoration: none;
    font-size: small;
    margin-bottom: 30px;
    text-align: center;
}

footer .termos_2 > a:hover {
    color: white;
}

footer .termos_2 > li {
    color: #555454;
    font-size: small;
}

@media screen and (max-width: 430px) {
    
}