@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

:root {
    --font_padrao: 'Roboto', sans-serif;
    --cor00: #dadada;
    --cor01: #ffffff;
    --cor02: #000000;
    --cor03: #ed1d24;
    --cor04: #047a3a;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--font_padrao);
    background: var(--cor00);
}

header {
    display: flex;
    height: 100px;
    background: #ed1d24;
}

header > img {
    width: 200px;
    text-align: center;
    margin: 9px auto;
}

main {
    background: var(--cor00);
    min-height: 100vh;
}

main .conteudo {
    background: var(--cor01);
    margin: 30px auto;
    padding: 25px;
    width: 60%;
}

main h1 {
    text-align: center;
    color: var(--cor04);
    font-size: 2em;
}

main p {
    text-align: justify;
    margin-top: 15px;
}

main p > b {
    color: #047a3a;
}

@media screen and (max-width: 430px) {
    
}